<?xml version="1.0"?>
<launch>

<!--	This launch file uses the true x, y coordinates from Gazebo and maps it to /pf/viz/inferred_pose to insert into pure_pursuit code.-->
  	<include file="$(find racecar_gazebo)/launch/racecar.launch">
		  <arg name="world_name" value="offset_levine"/>
		  <arg name="gui" value="false"/>
  	</include>

    <node pkg="lidart_pure_pursuit" name="remap_gazebo_pose_node" type="remap_gazebo_pose.py" output="screen" />
    <node pkg="lidart_2dnav" type="follow_move_base_cmd_vel.py" name="convert_cmd_vel" output="screen" />
    <node pkg="lidart_pure_pursuit" name="sim_connector_node" type="sim_connector.py" output="screen"/>
  	<node pkg="lidart_pure_pursuit" name="visualize_markers_node" type="visualize_markers.py" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidart_2dnav)/rviz_cfg/move_base_sim.rviz" output="screen"/>
    <node pkg="lidart_2dnav" type="parse_csv.py" name="parse_csv" output="screen" />
</launch>
